html
{
  font-family: 'Raleway', sans-serif;
}

#timetable{
  max-height: 580px;
  overflow-y: scroll;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .Site-content {
    flex: 1 0 auto;
  }

  .brand-logo
  {
  	font-weight: 200 !important;
  }
