html {
    font-family: 'Raleway', sans-serif;
}

#timetable {
    max-height: 580px;
    overflow-y: scroll;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1 0 auto;
}

.brand-logo {
    font-weight: 200 !important;
}

.toast {
    background-color: #333;
    /* Black background color */
    color: #fff;
    top: 5px;
    /* White text color */
    float: left !important;
}

/* label color */
 .input-field label {
   color: #1565c0;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #1565c0;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #1565c0;
   box-shadow: 0 1px 0 0 #1565c0;
 }
