{% extends "material/base.html" %}
{% block title %} {% if title %} {{title}}{% else %}Project Narwhal{% endif %} {% endblock %}

{%- block styles %}
    <!-- Materialize. Availible at https://github.com/Dogfalo/materialize -->
    <!-- Flask-Materialize. Availible at https://github.com/HellerCommaA/flask-materialize -->
    <link href="{{material_find_resource('css/materialize.css', cdn='material')}}" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>


    {%- endblock styles %}

{% block navbar %}
<nav>
    <div class="nav-wrapper  blue-grey darken-2">
        <div class = container>
            <a href="#" class="brand-logo">FDM</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="badges.html">Timetable</a></li>
                    <li><a href="collapsible.html">User</a></li>
                </ul>
        </div>
    </div>
</nav>
{% endblock %}








{% block footer %}
        <footer class="page-footer blue-grey darken-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright blue-grey darken-3">
            <div class="container">
            © 2016 Team Narwhal 
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
{% endblock %}

{% block scripts %}
{% endblock %}
