{% extends "base.html" %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Browse Classes</h3>
            </div>
        </div>
        <div class = "row">
            <div class = "col l3">
                <h5>Filter</h5>
                <p><b>By Course</b></p>
                <form action ="#">
                    {% for item in courseList %}
                        <p>
                            <input type="checkbox" id="courseid{{item[1]}}" onchange="hideItems('{{item[1]}}',1, this)" />
                            <label for="courseid{{item[1]}}">{{item[1]}}</label>
                        </p>
                        {%endfor%}
                    </form>
                    <p><b>By Duration</b></p>
                    {% for item in durations %}
                      <p>
                        <input type="checkbox" id="duration{{item}}" onchange="hideItems('{{item}}',3, this)" />
                        <label for="duration{{item}}">{{item}}</label>
                      </p>
                    {%endfor%}
                    <p><b>By Location</b></p>
                    {% for item in locations %}
                      <p>
                        <input type="checkbox" id="location{{item}}" onchange="hideItems('{{item}}',4, this)" />
                        <label for="location{{item}}">{{item}}</label>
                      </p>
                    {%endfor%}
                </div>
                <div class = "col l9">
                    <h5>Results</h5>

                    <table class = "responsive-table highlight">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Course</th>
                                <th>Start Date</th>
                                <th style="display:none">Duration</th>
                                <th style="display:none">Location</th>
                                <th>View Details<th>

                            </tr>
                        </thead>
                        <tbody id = "browseBox">
                        {%for item in classList%}
                            <tr>
                                <td>{{item[1]}}</td>
                                <td>{{item[4]}}</td>
                                <td>{{item[3]}}</td>
                                <td style="display:none">{{item[5]}}</td>
                                <td style="display:none">{{item[6]}}</td>
                                <td style="display:none">0</td>

                                <td><a href="/browse/classes/class/{{item[0]}}"">
                                <button href="/browse/classes/class/{{item[0]}}" class="waves-effect waves-light btn green">View More</button></a></td>
                            </tr>
                        {%endfor%}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='js/jsFunctions.js')}}"></script>
    {% endblock %}
