{% extends "base.html" %}
{% block content %}

<div class = "container">
<h4>Delegates</h4>
<div class = "row">
<div class = "col s12">
<table id = "todo-table" class="responsive-table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>View</th>
        </tr>
    </thead>
    <tbody>
    {%- for item in delList %}
    <!-- Loop through all elements in DB -->
    <tr>
        <td>{{ item.userID }} </td>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>
        <a href = "/delegates/{{item.userID}}">
        <button type="submit" href="/delegates/{{item.userID}}" class="waves-effect waves-light btn green">View More</button></a>
        </td>
        <td>
    </tr>
    {%- endfor %}
    </tbody>
</table>
</div>
</div>
</div>

{% endblock %}
