{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            {% for message in get_flashed_messages() %}
            <div class = "toast">
            {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    <h2>Edit Account</h2>
    <form action="" method="post" name="createAccount">
        {{ form.hidden_tag() }}
        <p class="input-field">
            Username: {{ form.username }}
        </p>
        <p>
            E-mail: {{ form.email }}
        </p>
        <p>
            Old Password: {{ form.oldPassword }}
        </p>
        <p>
            New Password: {{ form.password }}
        </p>
        <p>
            Confirm: {{ form.confirm }}
        </p>
        <br>
        <button class="btn waves-effect waves-light" input type="submit" value="Add Class">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
    <br>
</div>
{% endblock %}
