{% extends "header.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div>
        {{ message }}
    </div>
{% endfor %}

<div>
    {% if current_user.is_authenticated %}
        <p>
            Hi {{ current_user.name }}
        </p>
    {% endif %}

    <p>
        <a href='/logout'>log out</a>
    </p>
    <p>
        <a href='/timetable'>timetable (delegate only)</a>
    </p>
    <p>
        <a href='/trainers'>list of trainers (admin only)</a>
    </p>
    <p>
        <a href='/rooms'>list of rooms (admin only)</a>
    </p>
    <p>
        <a href='/delegates'>list of delegates (admin only)</a>
    </p>

</div>

{% endblock %}
