{% extends "header.html" %}
{% block content %}

{% for message in get_flashed_messages() %}
    <div>
        {{ message }}
    </div>
{% endfor %}

<form action = "" method = "post" >
  {{ form.hidden_tag() }}

<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>
        Please enter your:<br>
        username: {{ form.username }}
    </p>
    <p>
        password: {{ form.password }}
    </p>
    <p><input type="submit" value="Sign In"></p>
</form>
</form>
{% endblock %}
