{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="l12">
            <h3>My Account</h3>
        </div>
    </div>
    <div class="row">
        <div class="{% if current_user.type == 'Delegate' %}col l4 s12{%else%}col l6 s12{%endif%} ">
            <h4>Account Details</h4>
            <p><b>Username:</b> {{current_user.username}}</p>
            <p><b>Name:</b> {{current_user.name}}</p>
            <p><b>Email: </b> {{current_user.email}}</p>
            {% if current_user.type == 'Delegate' %}
            <a href="/editdel"> <button class="btn waves-effect waves-light" input type="submit" value="Choose Date">Edit details
                <i class="material-icons right">mode_edit</i>
            </button></a>
            {% elif current_user.type == 'Trainer' %}
            <a href='/edittrain'> <button  class="btn waves-effect waves-light" input type="submit" value="Choose Date">Edit details
                <i class="material-icons right">mode_edit</i>
            </button></a>
            {% endif %}
        </div>
        {% if current_user.type == 'Delegate' %}
        <div class="col l4 s12">
            <h4>Previous Modules</h4>
            <ul>
                {% for item in pastClass %}
                <li>{{item.title}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col l4 s12">
            <h4>Current Modules</h4>
            <ul>
                {% for item in futureClass %}
                <li>{{item.title}}</li>
                {% endfor %}
            </ul>
        </div>
        {%else%}
        <div class="col l6 s12">
            <h4>Currently Teaching</h4>
            <ul>
                {% for item in teachingList %}
                <li>{{item.title}}</li>
                {% endfor %}
            </ul>
        </div>
        {%endif%}
    </div>
</div>
{% endblock %}
