{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            {% for message in get_flashed_messages() %}
            <div class="toast">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <h2>Create Account</h2>
            <form action="" method="post" name="createAccount">
                {{ form.hidden_tag() }}
                <p class="input-field">
                    Name : {{form.name}}
                </p>
                <p>
                    E-mail: {{ form.email }}
                </p>
                <p>
                    Username: {{ form.username }}
                </p>
                <p>
                    Password: {{ form.password }}
                </p>
                <p>
                    Confirm: {{ form.confirm }}
                </p>
                <br>
                <div class = "row">
                <div class = "col s12 l6">
                    <button class="btn waves-effect waves-light green" input type="submit" value="Add Trainer">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                </form>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
