{% extends "base.html" %} {% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div>
        {{ message }}
    </div>
    {% endfor %}


    <h2>Add Room</h2>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p class="input-field">
            Building: {{ form.building }}
        </p>
        <p>
            Room Code: {{ form.roomCode }}
        </p>
        <p>
            Location: {{ form.location }}
        </p>
        <p>
            Room Type: {{ form.roomType }}
        </p>
        <p>
            Capacity: {{ form.capacity }}
        </p>
        <p>
            Access Rating: {{ form.accessRating }}
        </p>
        <p>
            facilities: {{ form.facilities }}
        </p>
        <br>
        <p><input type="submit" value="Add Room"></p>
    </form>
    <br>
</div>
{% endblock %}
