{% extends "base.html" %} {% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div>
        {{ message }}
    </div>
    {% endfor %}
    <h2>Create Trainer Account</h2>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p class="input-field">
            Name : {{form.name}}
        </p>
        <p>
            E-mail: {{ form.email }}
        </p>
        <p>
            Address: {{ form.address }}
        </p>
        <p>
            Phone Number: {{ form.phone }}
        </p>
        <p>
            Username: {{ form.username }}
        </p>
        <p>
            Password: {{ form.password }}
        </p>
        <p>
            Confirm: {{ form.confirm }}
        </p>
        <br>
        <p><input type="submit" value="Add Trainer"></p>
    </form>
    <br>
</div>
{% endblock %}
