{% extends "material/base.html" %}
{% block title %} {% if title %} {{title}}{% else %}Project Narwhal{% endif %} {% endblock %}

{%- block styles %}
    <!-- Materialize. Availible at https://github.com/Dogfalo/materialize -->
    <!-- Flask-Materialize. Availible at https://github.com/HellerCommaA/flask-materialize -->
    <link href="{{material_find_resource('css/materialize.css', cdn='material')}}" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
{%- endblock styles %}

{% block navbar %}
<nav>
    <div class="nav-wrapper  blue-grey darken-2">
        <div class = container>
            <a href="#" class="brand-logo">FDM</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block footer %}
<footer class="footer-copyright blue-grey darken-3">
    <div class="container">
        <h5 class="white-text">© 2016 Team Narwhal </h5>
    </div>
</footer>
{% endblock %}

{% block scripts %}
{% endblock %}
