{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <h3> Timetable </h3>
    </div>
    <div class="row">
        <div class="col s1 offset-s5">
            <p >
                go back
            </p>
        </div>
        <div class="col s1">
            <p>
                go forward
            </p>
        </div>
    </div>

    <div class="col s11">
        <div class="row">
            <div class="col s1">
                {% for day in days %}
                    <div class="row">
                        <p>
                            {{ day }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="col s11">
                {% for hour in hours %}
                    <div class="col s1">
                        <p>
                            {{ hour }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>


    </div>
</div>
{% endblock %}
