{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col l6 m6 s12">
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{url_for('static', filename = 'images/unknown.jpg')}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{current_trainer.name}}<i class="material-icons right">more_vert</i></span>
                    <p>Email: <a href="mailto:{{current_trainer.email}}">{{current_trainer.email}}</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{current_trainer.name}}<i class="material-icons right">close</i></span>
                    <br>
                    <strong>Email</strong> <br>
                    <a href="mailto:{{current_trainer.email}}">{{current_trainer.email}}</a></p>
                    <br>
                    <strong>Contact Number</strong>
                    <p>{{current_trainer.phone}}</p>
                    <br>
                    <strong>Address</strong><br>
                    <p>{{current_trainer.address}}</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="col l6 m6 s12">
            <h3> Currently Teaching </h3>
            <ul>
                {% for item in trainerClassList %}
                <li>{{item.title}}</li>
                {% endfor %}
            </ul>
        </div>


    </div>

    {% endblock %}
