{% extends "base.html" %}
{% block content %}

<div class = "container">
<div class = "row">
<h3>List of Trainers<h3>
</h3>
<div class = "row">
<form class="col s12">
    <div class="input-field col s12 m6">
        <select class="icons" onChange="document.location = this.value">
        <option value="" disabled selected>Select Trainer</option>
        {% for item in trainerList %}
        <option value="/trainers/{{item.userID}}">{{item.name}}</option>
        {% endfor %}
        </select>
    </div>
</form>
</div>
</div>


{% endblock %}
