{% extends "base.html" %} {% block content %}
    <div class="container">
        <div class="row">
            <div class = "col s12">
                <h2>{{current_class.title}}</h2>
                <h5><i>{{current_class.description}}</i></h5>
            </div>
        </div>
        <div class = "row">
            <div class = "col s12">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="{{url_for('static', filename = 'images/rs.jpg')}}"> <!-- random image -->
                            <div class="caption left-align">
                                <h3>{{current_class.title}}</h3>
                                <h5 class=" lightgrey-text text-lighten-3">Part of the {{current_class.course.title}} Course</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col s12 l4 offset-l2">
                <h4>General Information</h4>
                <ul>
                    <li>Course: {{current_class.course.title}}</li>
                    <li>Trainer: <a href="/trainers/{{current_class.trainer.trainerID}}">{{current_class.trainer.name}}</a></li>
                    <li>Start Time: {{current_class.startTime.strftime('%H:%M %b-%d-%Y')}}</li>
                    <li>Duration: {{current_class.duration}} Minutes</li>
                </ul>
            </div>
            <div class ="col s12 l4">
                <h4>Prerequisties</h4>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col s12">
            <h4 class="center-align">Sign Up</h4>
        </div>
        <div class = "row">
            <div class = "col s12 center-align">
                <button type="submit" href="/signup/{{current_class.classID}}" class="waves-effect waves-light btn green {% if userQualify == False %}disabled{% endif %}">{% if current_class.capacity == classSize %}Add to Waiting List{%elif userQualify == False %}Requirements Not Met{%else%}Sign Up{% endif %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}